<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.karrit.xoog">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/xoog"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xoog_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        android:name=".BaseApplication">
        <activity android:name=".pose_day"
            android:screenOrientation="portrait"/>
        <activity android:name=".Task_finish"   android:screenOrientation="portrait"/>
        <activity android:name=".School_program"   android:screenOrientation="portrait" />
        <activity android:name=".TermsAndConditions"   android:screenOrientation="portrait" />
        <activity
            android:name=".exer_do_basic"
            android:screenOrientation="landscape" />
        <activity
            android:name=".exer_learn"
            android:screenOrientation="landscape" />
        <activity android:name=".activity_log"   android:screenOrientation="portrait"/>
        <activity android:name=".Parent"   android:screenOrientation="portrait" />
        <activity android:name=".Order_confirmed"   android:screenOrientation="portrait"/>
        <activity android:name=".Add_Address"   android:screenOrientation="portrait"/>
        <activity android:name=".Shop_single_item"   android:screenOrientation="portrait"/>
        <activity
            android:name=".exercise_do1"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".excercise_do"
            android:screenOrientation="landscape" />
        <activity android:name=".task_activity_rubik"   android:screenOrientation="portrait"/>
        <activity android:name=".Task_list"   android:screenOrientation="portrait"/>
        <activity android:name=".slot_book"   android:screenOrientation="portrait"/>
        <activity
            android:name=".animation_activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Home_page"   android:screenOrientation="portrait"/>
        <activity android:name=".account_subscipe"   android:screenOrientation="portrait"/>
        <activity android:name=".Parent_kid"   android:screenOrientation="portrait"/>
        <activity android:name=".choose_plan"   android:screenOrientation="portrait"/>
        <activity android:name=".referra"   android:screenOrientation="portrait"/>
        <activity android:name=".kids_account"   android:screenOrientation="portrait" />
        <activity android:name=".login"   android:screenOrientation="portrait"/>
        <activity android:name=".GetStarted"   android:screenOrientation="portrait"/>
        <activity android:name=".menu_book_call"   android:screenOrientation="portrait"/>

        <receiver android:name=".CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".VideoService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
          <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xoog.info"
                    android:scheme="https" />
                <data
                    android:host="xoog.info"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>